:root{
    --grass: #3DA325;
    --steel: #60A2BA;
    --water: #2481F0;
    --bug: #92A311;
    --dragon: #4E60E2;
    --electric: #FAC100;
    --ghost: #703F70;
    --fire: #E62225;
    --fairy: #EF71EF;
    --ice: #3CD9FF;
    --fighting: #FF8000;
    --normal: #A1A2A0;
    --psychic: #F03F7A;
    --rock: #B0AB82;
    --dark: #4F3F3D;
    --ground: #92501B;
    --poison:#923FCD;
    --flying: #82BAEF;
}

*{
  
}